
    <h1>Productos</h1>
    <section class="products">
        <% productos.forEach(producto =>{ %>
            <div>
                <h2><%= producto.title %></h2>
                <p><%= producto.description %></p>
            </div>
        <%}) %>
    </section>
