<h1>Crear Categoria</h1>

<form action="/categorias" method="post">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>
    <button type="submit">Enviar</button>
</form>