<h1>Listado de Categorias</h1>

<a href="/categorias/create">Crear una categoria</a>
<table>
    <thead>
        <tr>
            <th>Nombre de Categoria</th>
        </tr>
    </thead>
    <tbody>
        <% categorias.forEach(categoria =>{ %>
            <tr>
                <td><a href="/categorias/<%= categoria.id %>"><%= categoria.id %> <%= categoria.nombre %></a></td>
                <td><a href="/categorias/<%= categoria.id %>/edit">Editar</a></td>
            </tr>
        <% }) %>
    </tbody>
</table>